@{
    ViewData["Title"] = "Pravilnik o zasebnosti";
}

<div class="container mt-5">
    <h1 class="text-center">Pravilnik o zasebnosti</h1>
    <p class="text-center">
        Pozdravljeni v E-Fitness, kjer so vaši osebni podatki varni!


    <p class="text-center mt-4">
        Hvala, ker uporabljate E-Fitness. Vaši podatki so pri nas (skoraj) varni (niti priblizno). 
    </p>
</div>
